/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fff;
}

a {
  color:black;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgb(255,255,255);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgb(255,255,255);
  color: black;
}

.toggleNav {
  display: none;
}

img {
  width:100%;
}

.wrapper {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  top: 0;
}

input {
  padding:10px;
  border:0;
}


section, footer {
  text-align: center;
  background:rgb(255,255,255);
  /* padding:20px; */
  /* margin:20px 0; */
  color:white;
  font-weight: 100;
}

.top {
        margin-top: -21px;
}

.topImg {
    background-image: url('../img/hero.png');
        height: auto;
        width: 100%;
}

/* Flex Container */
.flex-nav ul {
  /* border:1px solid black; */
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

/* Flex Item */
.flex-nav li {
  flex:5;
}


@media all and (max-width:1000px) {
  
  .flex-nav ul {
    flex-wrap:wrap;
  }

  .flex-nav li {
    flex:1 1 50%;
  }

  .flex-nav .social {
    flex:1 1 25%;
  }

}


/* This is where the magic Happens */

@media all and (max-width:500px) {
  
  .flex-nav li {
    flex-basis:100%;
  }
  

  /* Turn on flexbox */
  .wrapper {
    display:flex;
    flex-direction:column;
  }

  /* Reorder items */
  .wrapper > * {
    order:999;
  }
  
  /* Nav */
  .flex-nav {
    order:1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
    .flex-nav ul.open {
      display:flex;
    }
    .flex-nav ul.closed {
      display:none;
    }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #000;
}
  
  /* Header */
  .top {
    order:2;
  }

  /* Details */
  .details {
    order:1;
  }

  /* Sign Up */
  .signup {
    order:4;
  }

}
